@import "tailwindcss";
body {
  font-family: "Poppins", "Satoshi", system-ui, sans-serif;
  background-color: #f9f9f9;
}
button {
  font-family: "Poppins", "Satoshi", sans-serif;
}

/* Ensure your font is imported, e.g., from Google Fonts */
.poppins {
  font-family: "Poppins", "Satoshi", sans-serif;
}

.custom-toast-font {
  font-family: "Roboto", sans-serif !important; /* Change the font family */
  font-size: 16px !important; /* Change the font size */
  color: #333 !important; /* Change the text color */
}

/* If using the wrapper class: */
.custom-toast-wrapper .Toastify__toast-body {
  font-family: "Roboto", sans-serif !important;
}

h3 {
  font-weight: 600;
  line-height: 1.2;
}
